
@{
    ViewData["Title"] = "AddWatermark";
}

<form asp-action="AddWatermark" asp-controller="Home" enctype="multipart/form-data" method="post">
    <input type="file" name="image"/>
    <button type="submit">Kaydet</button>

</form>
